/* Fix for scrollbar show that moves header to the left a bit*/
body {
    overflow-y: scroll;
}

/*
 * Custom translucent site header
 */
.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
    color: #999;
    transition: ease-in-out color .15s;
}

.site-header a:hover {
    color: #fff;
    text-decoration: none;
}

/*
 * Extra utilities
 */
.flex-equal > * {
    -ms-flex: 1;
    flex: 1;
}

@media (min-width: 768px) {
    .flex-md-equal > * {
        -ms-flex: 1;
        flex: 1;
    }
}

.overflow-hidden {
    overflow: hidden;
}

#searchVideos {
    display: inline-block;
}

#moveVideos {
    display: none;
}

#loading-container {
    position: fixed;
    top: calc(50% - 128px); /* adjust as needed for size of loading gif */
    left: calc(50% - 128px); /* adjust as needed for size of loading gif */
    display: none; /* trigger show from JS */
}