/* Fix for scrollbar show that moves header to the left a bit*/
body {
    overflow-y: scroll;
}

/*
 * Custom translucent site header
 */
#header-logo {
    width: 50px;
    height: 50px;
}

.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.site-logo-text {
    font-family: "Lato Light", sans-serif;
    font-weight: normal;
    font-size: 30px;
    vertical-align: middle;
}

.site-header a {
    color: #ddd;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    transition: ease-in-out color .15s;
}

.site-header a:hover {
    color: #fff;
    text-decoration: none;
}

.site-header-item {
    margin: auto 0;
}

#content-header {
    background-color: #f6f6f6;
    box-shadow: 3px 3px 5px #dddddd;
}

/*
 * Extra utilities
 */
.flex-equal > * {
    -ms-flex: 1;
    flex: 1;
}

@media (min-width: 768px) {
    .flex-md-equal > * {
        -ms-flex: 1;
        flex: 1;
    }
}

.overflow-hidden {
    overflow: hidden;
}

#searchVideos {
    display: inline-block;
}

#moveVideos {
    display: none;
}

#loading-container {
    position: fixed;
    top: calc(50% - 128px); /* adjust as needed for size of loading gif */
    left: calc(50% - 128px); /* adjust as needed for size of loading gif */
    display: none; /* trigger show from JS */
}

.btn-flat {
    font-family: "Lato Light", sans-serif;
    font-size: 20px;
    border-radius: 0;
    box-shadow: 4px 4px 10px 0 #aaaaaa;
}

.btn-flat:hover {
    box-shadow: 4px 4px 5px 0 #aaaaaa;
}

.btn-big {
    padding: 10px 50px;
}

.btn-green {
    background-color: #0cc100;
    color: white;
}

.btn-green:hover {
    color: white;
}

.btn-orange {
    background-color: #ef8800;
    color: white;
}

.btn-orange:hover {
    color: white;
}

.btn-blue {
    background-color: #0091ef;
    color: white;
}

.btn-blue:hover {
    color: white;
}

.highlight-row {
    background-color: #ef880040 !important;
}

.highlight-border {
    border: 3px solid #0091ef;
}