/* Fix for scrollbar show that moves header to the left a bit*/
body {
    overflow-y: scroll;
}

body .table-bordered td, body .table-bordered th {
    border: 1px solid #dee2e6;
}

.table, .modal-body {
    font-family: 'Roboto Condensed', sans-serif;
}

/*
 * Custom translucent site header
 */
#header-logo {
    width: 50px;
    height: 50px;
}

.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.site-logo-text {
    font-family: Lato, sans-serif;
    font-weight: normal;
    font-size: 30px;
    vertical-align: middle;
}

.site-header a {
    color: #ddd;
    font-family: Lato, sans-serif;
    font-size: 18px;
    transition: ease-in-out color .15s;
}

.site-header a:hover {
    color: #fff;
    text-decoration: none;
}

.site-header-item {
    margin: auto 0;
}

#content-header {
    background-color: #f6f6f6;
    box-shadow: 3px 3px 5px #dddddd;
}

/*
 * Extra utilities
 */
.flex-equal > * {
    -ms-flex: 1;
    flex: 1;
}

@media (min-width: 768px) {
    .flex-md-equal > * {
        -ms-flex: 1;
        flex: 1;
    }
}

.overflow-hidden {
    overflow: hidden;
}

#loading-container {
    position: fixed;
    top: calc(50% - 128px); /* adjust as needed for size of loading gif */
    left: calc(50% - 128px); /* adjust as needed for size of loading gif */
    display: none; /* trigger show from JS */
}

.shadowed-textInput {
    border: none;
    box-shadow: inset 2px 2px 3px #cccccc;
}

.btn-flat {
    font-family: Lato, sans-serif;
    font-size: 20px;
    border-radius: 0;
    box-shadow: 4px 4px 10px 0 #aaaaaa;
}

.btn-flat:hover {
    box-shadow: 4px 4px 5px 0 #aaaaaa;
}

.btn-big {
    padding: 10px 50px;
}

.btn-green {
    background-color: #0cc100;
    color: white;
}

.btn-green:hover {
    color: white;
}

.btn-orange {
    background-color: #ef8800;
    color: white;
}

.btn-orange:hover {
    color: white;
}

.btn-blue {
    background-color: #0091ef;
    color: white;
}

.btn-blue:hover {
    color: white;
}

.show-element {
    display: initial !important;
}

.highlight-row {
    background-color: #ef880040 !important;
}

.highlight-border {
    border-left: 5px solid #0091ef;
}

/* DarkMode theme */
body.dark-theme {
    background-color: #111111;
}

body.dark-theme #content-header {
    background-color: #505050;
    box-shadow: 3px 3px 5px #444444;
}

body.dark-theme .btn-flat {
    box-shadow: 4px 4px 10px 0 #000000;
}

body.dark-theme .btn-flat:hover {
    box-shadow: 4px 4px 5px 0 #000000;
}

body.dark-theme .table {
    color: #999999;
    background-color: #222222;
}

body.dark-theme .table-hover tbody tr:hover {
    color: #bbbbbb;
}

body.dark-theme .table-bordered td, body.dark-theme .table-bordered th {
    border: 1px solid #555555;    
}

body.dark-theme .form-control {
    color: #999999;
    background-color: #222222;
}

body.dark-theme .shadowed-textInput {
    box-shadow: inset 2px 2px 3px #555555;
}

body.dark-theme .dropdown-menu {
    color: #999999;
    background-color: #222222;
}

body.dark-theme .dropdown-item {
    color: #999999;
    background-color: #222222;
}

body.dark-theme .dropdown-item:hover {
    color: #bbbbbb;
    background-color: #222222;
}

body.dark-theme .modal-content {
    background-color: #333333;
    color: #999999;
}

body.dark-theme .modal-header {
    border-bottom: 1px solid #000000;
}

body.dark-theme .modal-footer {
    border-top: 1px solid #000000;
}

body.dark-theme .close {
    color: white;
}
