.videoName {
    cursor: pointer;
}

.groupEditButton {
    display: none;
}

.moveVideosButton {
    display: none;
}

.searchVideosForm {
    display: inline-block;
}

.btn-tmdb {
    width: 35px;
    height: 35px;
    background-image: url("/static/img/tmdb_logo_small.png");
    background-size: 35px;
}

.js-videoOutputOnlineReSearch, #js-videoGroupOutputOnlineReSearch {
    display: none;
}

.dropdown-toggle.output-dropdown-toggle::before {
    display:none;
}

body.dark-theme .dropdown-toggle.output-dropdown-toggle {
    color: #999999;
}

.dropdown-image-container {
    height: 140px;
    width: 100px;
}

.dropdown-content-container {
    background: rgba(200, 200, 200, 0.3);
    height: 140px;
    width: 578px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
}

body.dark-theme .dropdown-content-container {
    background: rgba(160, 160, 160, 0.3);
}

.dropdown-item-image {

}

.dropdown-item-title {
    white-space: normal;
    font-weight: bold;
}

.dropdown-item-description {
    white-space: normal;
}

.dropdown-item-cast {
    white-space: normal;
    font-style: italic;
    color: rgba(0, 0, 0, 0.43137254901960786);
}

body.dark-theme .dropdown-item-cast {
    color: rgba(210, 210, 210, 0.43137254901960786);
}