<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{block "title" .}}VideosMover - Webview{{end}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    {{block "additionalStyles" .}}{{end}}
</head>
<body>
<nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="/search"><b>Videos Mover</b></a>
        <a class="py-2 d-none d-md-inline-block" href="/search">Search</a>
    </div>
</nav>

{{block "content" .}}No content{{end}}

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/base.js"></script>
<script>
    setInterval(function () {
        $.get("/running");
    }, 1000);
</script>
{{block "additionalScripts" .}}{{end}}
</body>
</html>