<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{block "title" .}}VideosMover - Webview{{end}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    {{block "additionalStyles" .}}{{end}}
</head>
<body {{ if .DarkMode }} class="dark-theme" {{end}}>
<div class="sticky-top">
    <nav class="site-header sticky-top py-1">
        <div class="container d-flex flex-column flex-md-row justify-content-between">
            <a class="py-2" href="/search">
                <img id="header-logo" src="/static/img/application.png" alt="logo"/>
                <span class="site-logo-text">Videos Mover</span>
            </a>
            <a class="site-header-item py-2 d-none d-md-inline-block" href="/search">Search</a>
        </div>
    </nav>

    <div id="content-header">
        {{block "contentHeader" .}}{{end}}
    </div>
</div>

{{block "content" .}}No content{{end}}
<div id="content-footer" class="row">
    {{block "contentFooter" .}}{{end}}
</div>

<div id="loading-container" class="js-loading-container">
    <span class="loading">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </span>
</div>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/base.js"></script>
{{block "additionalScripts" .}}{{end}}
</body>
</html>